body{

    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;

}
h2{
    font-size: 40px;

}

section{
    display: flex;
    padding: 5%;
   
}
.half-width{
    width: 50%;
}
img{
    width: 80%;
    border-radius: 50%;
}
.link{
    text-decoration: none;
    padding: 10px 50px;
    background-color: aqua;
    background-image: linear-gradient(blue, blueviolet);
    color: white;
    font-weight: 700;

}
.text-white{
    color:white;
}
.top-banner{
    background-image: url(image/wave.svg);
    background-repeat: no-repeat;
}
